*{
  margin: 0px;
  padding: 0px;
}

.cubo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12.5vh;
    background-color: rgb(152, 170, 248); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1000;
  }

.imagenindex {
  position: relative;
  width: 100%;
}
.imagenindex img {
    width: 100% ;
    display: block;
    height: auto;
    

}
#fondo {
  width: 100%;
}
.logo {
  height: 80%;
  object-fit: contain;
  margin-left: 6em;
}
.texto-impacto1 {
  
  position: absolute;
  top: 50%;
  left: 30%; 
  transform: translate(-50%,-50%);
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.7);
  max-width: 50%;
  line-height: 1.3;
  font-family: 'Arial Black', sans-serif;
}
.texto-impacto2 {
  position: absolute;
  top: 20%;
  left: 50%; 
  transform: translate(-50%,-50%);
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.7);
  max-width: 50%;
  line-height: 1.3;
  font-family: 'Arial Black', sans-serif;
}

.texto-impacto3 {
  position: absolute;
  top: 50%;
  left: 70%;  
  transform: translate(-50%,-50%);
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.7);
  max-width: 50%;
  line-height: 1.3;
  font-family: 'Arial Black', sans-serif;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-weight: bold;
  margin-right: 1em;
  color: white;
}
body {
  background-color: rgb(55, 70, 139);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
h1 {
  margin-bottom: 20px;
  color: #000000;
}
.contact-item {
  margin: 15px 0;
  font-size: 1.1em;
}
a {
  color: #4d54b9af;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer {
  font-size: 0.9em;
  color: #555;
  margin-top: 20px;
}
.container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
}
.total {
  font-weight: bold;
  font-size: 1.2em;
}
.footer {
  font-size: 0.9em;
  color: #555;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 750px;
}
.galeria img {
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  object-fit: cover;
}
@media (max-width: 600px) {
  .gallery {
      grid-template-columns: 1fr;
  }
}
h2 {
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
}
